# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace
.obsidian/cache
.obsidian/plugins/*/data.json
.obsidian/plugins/*/main.js
.obsidian/plugins/*/styles.css
.obsidian/plugins/*/manifest.json
.obsidian/hotkeys.json

# Trash
.trash/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
*.swp
*~

# Log files
*.log